//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                    IMPORTS
//? ------------------------------------------------------------------------------------------------------------------------------

@import '_fonts';
@import '_settings.scss';

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                  INFO IN CSS
//? ------------------------------------------------------------------------------------------------------------------------------
/* version #{$version} */
//* ------------------------------------------------------------------------------------------------------------------------------
//* ------------------------------------------------------------------------------------------------------------------------------
//* ------------------------------------------------------------------------------------------------------------------------------
//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                    STYLES
//? ------------------------------------------------------------------------------------------------------------------------------
//* ------------------------------------------------------------------------------------------------------------------------------
//* ------------------------------------------------------------------------------------------------------------------------------
//* ------------------------------------------------------------------------------------------------------------------------------
//? ------------------------------------------------------------------------------------------------------------------------------
//?                                         Large screens min-width : 1824px
//? ------------------------------------------------------------------------------------------------------------------------------
.container {
    width: $container;
    margin: 0 auto;
}

.btn {
    background: #00A031;
    border-radius: 27px;
    font-family: Gilroy;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #F4FBF6;
    height: 54px;
    line-height: 54px;
    border: none;
    outline: none;
    padding: 0 22px;
    z-index: 2;
    transition: 0.2s;

    &:hover {
        cursor: pointer;
        background-color: #4d895f;
    }
}

.zi-2 {
    z-index: 2;
}

.header {
    position: relative;
    height: 1062px;
    background-image: url(../../img/header/Bitmap.png);
    background-size: cover;
    background-position: center;

    &::after {
        content: '';
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: url(../../img/header/mask.png);
    }

}

.nav {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}


.list {
    display: flex;
    align-items: center;
    list-style-type: none;
    position: relative;

    &__li {
        position: relative;
        margin-right: 87px;

        &:first-child {
            left: 41px;
        }

        &:nth-child(2) {
            left: 20px;
        }

        &:nth-child(3) {
            left: 4px;
        }

        &:last-child {
            margin-right: 0;
            left: -11px;
        }

        a {
            height: 24px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #FFFFFF;
            text-decoration: none;
            position: relative;

        }


    }

    &__li_active {
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 3px;


            background-color: #fff;
        }
    }


}

.logo {
    margin-left: 25px;
}

.menu {}

.slider {
    margin-top: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .slider__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 90px;
        line-height: 100px;
        letter-spacing: 2px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        top: -7px;
        right: -9px;
    }

    .slider__subtitle {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        position: relative;
        top: 20px;
        left: 10px;
    }

    .slider__btn {
        position: relative;
        top: 75px;
        left: 9px;
    }

}

.slider-radio {
    position: relative;
    z-index: 2;
    top: 390px;
    left: 4px;


    &__labael {
        position: relative;

        &:nth-child(1) {
            left: -24px;
            top: 3px;
        }

        &:nth-child(2) {
            bottom: 11px;
            left: 5px;
        }

        &:nth-child(3) {
            left: 33px;
            bottom: 23px;
        }

        .radio__fake {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #fff;
            position: relative;
            transition: .2s;

            &:hover {
                cursor: pointer;
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 17.2px;
                height: 17.2px;
                border: 1px solid #00A031;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                opacity: 0;
                transition: .2s;
                transform: translate(-50%, -50%);
            }
        }

        .radio__radio:checked+.radio__fake {
            background-color: #00A031;
        }

        .radio__radio:checked+.radio__fake::before {
            opacity: 1;
        }

        input {
            display: none;
        }
    }
}

.arrow-left {
    position: absolute;
    top: 46.5%;
    left: 169px;
    transform: translate(0, -50%) scale(-1, -1);

    svg:hover {
        cursor: pointer;

        path {
            fill: #ADAEA4;
        }
    }

    z-index: 2;
}

.arrow-right {
    position: absolute;
    top: 46.5%;
    right: 169px;
    transform: translate(0, -50%);

    img:hover {
        cursor: pointer !important;
    }

    svg:hover {
        cursor: pointer;

        path {
            fill: #ADAEA4;
        }
    }

    z-index: 2;
}

.footer {
    height: 344px;
    background: #222222;
    position: relative;
    top: 4060px;

    .nav {
        flex-direction: column;
        align-items: center;
        padding-top: 88px;

        .logo {
            position: relative;
            right: 3px;
        }

        .menu {
            .list {
                top: 45px;

                &__li {
                    margin-right: 75px;

                    &:nth-child(1) {
                        left: 78px;
                    }

                    &:nth-child(2) {
                        left: 66px;
                    }

                    &:nth-child(3) {
                        left: 40px;
                    }

                    &:nth-child(4) {
                        left: 14px;
                    }

                    a {
                        font-family: 'Gilroy-Light';
                        font-size: 16px;
                        line-height: 16px;
                        /* identical to box height, or 100% */

                        letter-spacing: 3px;
                        text-transform: uppercase;

                        color: #777777;
                    }
                }
            }
        }

        .all-rights {
            position: relative;
            top: 99px;
            left: 8px;

            span {
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                /* identical to box height, or 171% */

                text-align: center;
                letter-spacing: 0.2px;

                color: #777777;

                &:nth-child(2) {
                    position: relative;
                    left: 8px;
                }
            }
        }
    }
}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                          iPads (Portrait and Landscaping)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width : 1224px) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                          iPads (Portrait and Landscaping)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                iPads (Landscaping)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                  iPads (Portrait)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                          Smartphones (portrait and landscape)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                               Smartphones (landscape)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width : 321px) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                               Smartphones (portrait)
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (max-width : 320px) {}

//? ------------------------------------------------------------------------------------------------------------------------------
//?                                                     iPhone 4
//? ------------------------------------------------------------------------------------------------------------------------------
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {}